---
import Layout from "../layouts/Layout.astro";
import Loader from "../components/Loader.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Journey from "../components/Journey.astro";
import Expeditions from "../components/Expeditions.astro";
import Research from "../components/Research.astro";
import Toolkit from "../components/Toolkit.astro";
import Journal from "../components/Journal.astro";
import Contact from "../components/Contact.astro";
---

<Layout>
  <Loader />
  <Nav />
  <main>
    <Hero />
    <Journey />
    <Expeditions />
    <Research />
    <Toolkit />
    <Journal />
    <Contact />
  </main>
</Layout>
